img {
	display: block;
	margin-left: auto;
	margin-right: auto; 
    width: 100%;
}

ol {
	color: black;
}
	
table, td, th {
	width: 50%;
	border: 1px solid black;
	text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

td:nth-child(even) {
	background-color: #f2f2f2;
}

#Headings {
	color: red;
}

.Elements {
	color: green;
}

@media (max-width: 600px){
	body {
			background-color: lightblue;
	}
}